<a href="https://colab.research.google.com/github/Jonathan57000/IAE_METZ_DATA/blob/main/TD_DATA4FUNDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Premier code python par Clotilde pour le cours de l'IAE Metz
print("Hello World!")

Hello World!

#Simple example

In [ ]:
prenom = "Clotilde" #string c'est du texte
salaire = 570000 #integer ce sont les entiers naturels
height = 1.65 #floats chiffres à virgule

# case texte est en markdown

In [ ]:
print(f"On dirait que {prenom} est en groupe avec Jonahtan, elle gagne {salaire} euros")

On dirait que Clotilde est en groupe avec Jonahtan, elle gagne 570000 euros

In [ ]:
# Arithmetic
valeur_1=10
valeur_2 = 3

a=10
b=3

a,b=10,3

In [ ]:
a,b=10,3
print(f"SUM:{a+b},Differences : {a-b}, Division {a/b}")

SUM:13,Differences : 7, Division 3.3333333333333335

In [ ]:
print(f"Division integer : {a//b},Modulos:{a%b},exponnentiel {a**b}")

Division integer : 3,Modulos:1,exponnentiel 1000

In [ ]:
#LIST
fruits=["apple","bananes","fraises"]
fruits[0]

'apple'

In [ ]:
#DICTIONNAIRES
# Non ordonnée et paires clé-valeur Uniques et immuables
eleve={"nom":"Jonathan", "age":39,"city":"Metz"}

In [ ]:
print(f"Salut je suis {eleve['nom']} et j'ai {eleve['age']}")

Salut je suis Jonathan et j'ai 39

In [ ]:
#La façon la plus courante de stocker des données en python est via un DATAFRAME

#Package
import pandas as pd

data=pd.DataFrame({'Data': ['2020-01-01','2025-02-11'], 'FondInvestLux' : [10,100],'Amundi': [11,13]})

data

         Data  FondInvestLux  Amundi
0  2020-01-01             10      11
1  2025-02-11            100      13

In [ ]:
#Fonctions et boucles basiques à connaitre
note=float(input("Entrer un chiffre"))
if note>10 :
  print("T'es un chigachad")
elif note <10 :
  print("Sale petite merde")
else : # il faut savoir cloturer certaines boucles
  print("j'ai pile la moyenne)")

Entrer un chiffre12
T'es un chigachad

In [ ]:
for i in range(3):
  print(f"Boucle avec x iterations de {i}")

Boucle avec x iterations de 0
Boucle avec x iterations de 1
Boucle avec x iterations de 2

In [ ]:
#Boucle plus complexe `: WHILE qui est une boucle conditionnelle
count=0

In [ ]:
while count < 3:
  print(f"Count:{4}")
  count+=1

Count:4
Count:4
Count:4

In [ ]:
#Les bases des fonctions
def greet(nom, greeting="Hello"):
  return f"{greeting},{nom}!!!"
print(greet("Jade"))
print(greet("Jon","T'es gros"))

Hello,Jade!!!
T'es gros,Jon!!!

Etude de cas pour audit

#Etude de cas pour audit

In [5]:
#Cellule des variables
revenus=100000
depenses=75000
taux_imposition_francais=0.27
taux_lux=0.17
taux_irelande=0.125

In [6]:
#Cellule des calculs
benefice=revenus-depenses
imposition_francais=benefice*taux_imosition_francais
imposition_lux=benefice*taux_lux
imposition_irelande=benefice*taux_irelande
benefice_net_fr=benefice-imposition_francais

In [7]:
#CEllule des check/prints :calcul en direct
print("Impot à payer en France",taux_imposition_francais*benefice, "euros")

Impot à payer en France 6750.0 euros

In [8]:
#code plus rapide
print(f"Impot à payer en France", imposition_francais, "euros")

Impot à payer en France 6750.0 euros

In [9]:
#comparaison entre irelande et luxembourg
print("On compare au Luxembourg", imposition_lux,"euros", "vs en irelande", imposition_irelande,"euros")

On compare au Luxembourg 4250.0 euros vs en irelande 3125.0 euros

In [10]:
#impot france - lux
imposition_francais-imposition_lux

2500.0

In [11]:
#conditions (if,elif,else)
if benefice_net_fr >0:
  print("L'entreprise réalise un bénéfice net. Un bénéf de", benefice_net_fr, "euros.")
elif benefice_net_fr==0:
  print("L'entreprsie est à l'équilibre")
else:
  print("L''entreprise réalise une perte nette")

L'entreprise réalise un bénéfice net. Un bénéf de 18250.0 euros.